/* 
           $$\                           $$\                           
           $$ |                          $$ |                          
  $$$$$$$\ $$$$$$$\   $$$$$$\   $$$$$$\  $$ |  $$\  $$$$$$\  $$\   $$\ 
 $$  _____|$$  __$$\  \____$$\ $$  __$$\ $$ | $$  |$$  __$$\ $$ |  $$ |
 \$$$$$$\  $$ |  $$ | $$$$$$$ |$$ |  \__|$$$$$$  / $$$$$$$$ |$$ |  $$ |
  \____$$\ $$ |  $$ |$$  __$$ |$$ |      $$  _$$<  $$   ____|$$ |  $$ |
 $$$$$$$  |$$ |  $$ |\$$$$$$$ |$$ |      $$ | \$$\ \$$$$$$$\ \$$$$$$$ |
 \_______/ \__|  \__| \_______|\__|      \__|  \__| \_______| \____$$ |
                                                             $$\   $$ |
                                                             \$$$$$$  |
                                                              \______/ 

 If you're reading this, why don't you pitch in with your own expertise and join in the development? 
 https://github.com/transfem-org/sharkey
*/

body {
    background-color: rgb(28, 28, 37);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

header {
    background-color: rgb(35, 35, 47);
    border-bottom: 1px rgb(245, 169, 184) solid;
    box-shadow: 10px 5px 5px rgb(24, 19, 31);
    padding: 15px;
    padding-bottom: 12px;
    display: flex;
}

header #nav {
    padding: 3px;
    padding-left: 15px;
    margin-left: auto;
}

header #nav a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

header img:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.hero {
    background-color: rgb(25, 25, 33);
    box-shadow: 10px 5px 5px rgb(24, 19, 31);
    padding: 55px;
    background-image: url('sharktexture.png');
    background-repeat: space;
    background-size: 85px;
    display: flex;
    gap: 20px;
}


.hero main {
    height: 100%;
    display: flex;
    transition: all 0.2s ease-in-out; 
    max-width: 80%;
    flex-flow: column wrap;
}

.hero main:hover {
    transform: scale(1.02);
}

.hero img {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
}

h2,h3, b {
    font-family: 'Raleway', sans-serif;
    color: rgb(245, 169, 184);
    padding-left: 5px;
}

#features {
    width: 115%;
    background-color: rgba(41, 35, 47);
}

#team {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    width: 85%;
    gap: 15px;
}

@media (max-width: 1250px) {
    #team {
      flex-direction: column;
    }
  }

#team main {
    background-color: rgba(25,25,33,255);
    box-shadow: 5px 5px 5px rgba(24, 19, 31, 0.319);
    transition: all 0.25s ease-in-out; 
    text-align: center;
    padding-bottom: 5px;
}

#team main:hover {
    transform: scale(1.04);
}

#team img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

#team a {
    text-decoration: none;
    text-transform: lowercase;
}


#instances header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-size: cover;
    background-color: rgba(41, 35, 47);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    border: none;
    padding: 20px;
}

#instances {
    margin: 0 auto;
    flex-direction: row;
    gap: 10px;
    display: flex;
    width: 85%;
}

@media (max-width: 1250px) {
    #instances {
      flex-direction: column;
    }
  }

#instances main {
    background-color: rgba(25,25,33,255);
    box-shadow: 5px 5px 5px rgba(24, 19, 31, 0.319);
    transition: all 0.25s ease-in-out; 
    padding-bottom: 5px;
    padding: 0px;
}

#instances main:hover {
    transform: scale(1.04);
}

#instances a {
    text-decoration: none;
}

#info {
    padding: 15px;
}

li {
    list-style-type: square;
    font-weight: bold;
 }

a {
    color: rgb(245, 169, 184);
    font-weight: bold;
    transition: all 0.2s ease-in-out; 
}

a:hover {
    color: rgb(204, 128, 144);
}

@media screen and (max-width: 1400px) {
    #features {
      display:none;
    }

    .hero main {
      flex-wrap: wrap;
    }
  }


main {
    margin: 0 auto;
    background-color: rgb(35, 35, 47);
    box-shadow: 10px 5px 5px rgb(24, 19, 31);
    padding: 15px;
    width: 90%;
    border-radius: 4px;
}

footer {
    background-color: rgb(35, 35, 47);
    border-top: 1px rgb(245, 169, 184) solid;
    box-shadow: 10px 5px 5px rgb(24, 19, 31);
    text-align: left;
    padding: 15px;
    display: flex;
}

footer a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
}

hr {
    border-top: 0.4px rgb(245, 169, 184) solid;
}